In [ ]:
import pandas as pd
from glob import glob
from pathlib import Path


rg_raw_data_dir = "data/7-23-25-scrape"
rg_fps = glob(f"{rg_raw_data_dir}/*.csv")

# read + show an example set of raw vals for a rain-gauge
ex_fp = rg_fps[0]
ex_df = pd.read_csv(ex_fp)
ex_df.head()

         Date      Time  Value
0  07/23/2025  13:00:00   0.63
1  07/23/2025  12:00:00   0.63
2  07/23/2025  11:00:00   0.63
3  07/23/2025  10:00:00   0.63
4  07/23/2025  09:00:00   0.63

### 1. Grouping rain gauge data into one table
---
- Aggregate rain gauge raw data (i.e., bucket tips) into a ***sparse*** table with timestep index $\mathcal{T}_{CCRFCD}$
    - Why is this table "sparse"?
        - Timesteps $u \in \mathcal{T}_{CCRFCD}$ are not uniformly spaced
        - Each timestep $u$ (in theory) corresponds to **one** datapoint for **one** rain gauge
    - Sort `datetime-local` column 

| gauge-idx | datetime-local | utc-offset | datetime-utc | val |
| :---: | :---: | :---: | :---: | :---: |
| 4 | 2025-03-03-07:03 | -7 | 2025-03-03-14:03 | 3.5 |
| 4 | 2025-03-03-07:35 | -7 | 2025-03-03-14:35 | 3.6 |

In [ ]:
from datetime import datetime
from zoneinfo import ZoneInfo


# PST/PDT
las_vegas_tz = ZoneInfo("America/Los_Angeles")


def gen_rg_df(df: pd.DataFrame, gauge_idx: int) -> pd.DataFrame:

    local_dts = []
    utc_dts = []

    date_arr = df['Date']; time_arr = df['Time']
    concat_str_arr = date_arr + ' ' + time_arr
    
    for dt_str in concat_str_arr:
        
        # local_dt
        naive_dt = datetime.strptime(dt_str, "%m/%d/%Y %H:%M:%S")
        local_dt = naive_dt.replace(tzinfo=las_vegas_tz)

        # local -> UTC
        utc_dt = local_dt.astimezone(ZoneInfo("UTC"))

        local_dts.append(local_dt)
        utc_dts.append(utc_dt)

    instant_rain_acc = df["Value"]

    gauge_df = pd.DataFrame({
        'gauge_idx': [gauge_idx] * len(local_dts), # repeat gauge_id for number of rows
        'local_time': local_dts,
        'utc_time': utc_dts,
        'gauge_acc_in': instant_rain_acc,
    })

    return gauge_df

In [ ]:
from tqdm import tqdm


master_df: pd.DataFrame | None = None

# iterate through CCRFCD rain gauge raw data `.csv` files
# open each dataframe; calculate utc datetime, append df to `master_df`
for fp in tqdm(rg_fps):

    # hackey way of getting the rain gauge's idx from the fp
    rg_idx = int(fp.split("_")[-1: ][0].strip(".csv"))

    _df = pd.read_csv(fp)
    rg_df = gen_rg_df(_df, rg_idx)

    if master_df is None:
        master_df = rg_df
    else:
        
        # vertical concatination
        _temp_df = pd.concat([master_df, rg_df], axis=0)
        master_df = _temp_df

  0%|          | 0/231 [00:00<?, ?it/s]

 80%|████████  | 185/231 [00:10<00:02, 17.48it/s]/tmp/ipykernel_3478149/549790837.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  _temp_df = pd.concat([master_df, rg_df], axis=0)
100%|██████████| 231/231 [00:12<00:00, 18.26it/s]

In [ ]:
# hmm... there are some unrealistically large/small values in our dataset
master_df.sort_values("gauge_acc_in", ascending=False)

,gauge_idx,local_time,utc_time,gauge_acc_in
411,4651.0,2025-07-17 22:37:53-07:00,2025-07-18 05:37:53+00:00,416.0
3562,4139.0,2025-07-02 18:12:00-07:00,2025-07-03 01:12:00+00:00,359.0
3589,4139.0,2025-07-02 17:15:20-07:00,2025-07-03 00:15:20+00:00,359.0
3613,4139.0,2025-07-02 16:52:20-07:00,2025-07-02 23:52:20+00:00,359.0
3580,4139.0,2025-07-02 17:50:40-07:00,2025-07-03 00:50:40+00:00,359.0
...,...,...,...,...
4277,4702.0,2025-04-05 19:05:41-07:00,2025-04-06 02:05:41+00:00,-9.0
704,4702.0,2025-07-07 02:50:52-07:00,2025-07-07 09:50:52+00:00,-9.0
3626,4702.0,2025-04-25 14:21:57-07:00,2025-04-25 21:21:57+00:00,-10.0
1692,4702.0,2025-06-08 14:23:03-07:00,2025-06-08 21:23:03+00:00,-11.0
3208,4702.0,2025-05-05 16:35:58-07:00,2025-05-05 23:35:58+00:00,-21.0

### 1.1 Removing non-rain gauges

- Some of these sensors arn't rain gauges! For example, `4651.0` is an annemometer, explaining the unusally high values.
- We'll simply mask out any sensor that isn't a rain gauge.

In [ ]:
sensor_metadata = pd.read_csv("data/ccrfcd_rain_gauge_metadata.csv")

# every valid rain gauge contains the substring "(Rain)" in it's description
mask = sensor_metadata["old_name"].str.contains(r"\(Rain\)", na=False)

# set of valid rg ids
valid_rain_gauges = set(sensor_metadata[mask]["station_id"])

# mask out any row that doesn't contain a valid rain gauge id
valid_rain_gauges_mask = [idx in valid_rain_gauges for idx in master_df['gauge_idx']]

# let's check our highest/lowest precip. accumulation values again
master_df_cleaned = master_df[valid_rain_gauges_mask].sort_values("gauge_acc_in", ascending=False)
master_df_cleaned

,gauge_idx,local_time,utc_time,gauge_acc_in
2050,4359.0,2023-09-28 18:34:42-07:00,2023-09-29 01:34:42+00:00,20.04
2047,4359.0,2023-09-30 06:34:45-07:00,2023-09-30 13:34:45+00:00,20.04
2052,4359.0,2023-09-28 03:37:52-07:00,2023-09-28 10:37:52+00:00,20.04
2046,4359.0,2023-09-30 18:34:46-07:00,2023-10-01 01:34:46+00:00,20.04
2048,4359.0,2023-09-29 18:34:44-07:00,2023-09-30 01:34:44+00:00,20.04
...,...,...,...,...
2888,4174.0,2022-11-06 08:23:31-08:00,2022-11-06 16:23:31+00:00,0.00
2887,4174.0,2022-11-06 16:23:32-08:00,2022-11-07 00:23:32+00:00,0.00
2886,4174.0,2022-11-07 00:23:31-08:00,2022-11-07 08:23:31+00:00,0.00
2885,4174.0,2022-11-07 08:23:31-08:00,2022-11-07 16:23:31+00:00,0.00
2884,4174.0,2022-11-07 16:23:31-08:00,2022-11-08 00:23:31+00:00,0.00

In [ ]:
checkpoint_one_fp = "data/__checkpoints__/ds_ckpt_1.csv"
master_df_cleaned.sort_values("local_time").to_csv(checkpoint_one_fp)

### 2. Selecting which MRMS 1H QPE files to download
---

- Construct $\mathcal{T}_{MRMS}$; i.e., determine which MRMS 1H-QPE timesteps to download
    - LV valley: (35.8, 36.4 / -115.4, -114.8)
    - 1 1km $\times$ 1km grid-cell in the LV valley >= 0.25 in. 1H QPE in a 24H period (i.e., 00:00-23:59 UTC)
- Next steps
    - All data is downloaded to: `__temp/*`

In [1]:
import pandas as pd


checkpoint_one_fp = "data/__checkpoints__/ds_ckpt_1.csv"
ckpt_one_df = pd.read_csv(checkpoint_one_fp, )
ckpt_one_df.head()

,Unnamed: 0,gauge_idx,local_time,utc_time,gauge_acc_in
0,3753,4054.0,2021-01-01 08:00:25-08:00,2021-01-01 16:00:25+00:00,0.00
1,4652,4394.0,2021-01-01 08:01:13-08:00,2021-01-01 16:01:13+00:00,0.00
2,3263,4309.0,2021-01-01 08:01:44-08:00,2021-01-01 16:01:44+00:00,0.04
3,3643,8.0,2021-01-01 08:05:16-08:00,2021-01-01 16:05:16+00:00,0.00
4,3603,4574.0,2021-01-01 08:09:26-08:00,2021-01-01 16:09:26+00:00,0.00

### 3. Generate a ***dense*** table from `1` with a timestep index of $\mathcal{T}_{MRMS}$
---
- > $\forall_{t \in \mathcal{T}_{MRMS}} \forall_{k \in \mathcal{I}} \exists $ *row in datatable*

- 3a. $\forall_{t \in \mathcal{T}_{MRMS}} \forall_{k \in \mathcal{I}}$ ...
    - Lookup rows for $k$ between $[t_{start}, t_{end}]$
    - Calculate the *sum* of **positive** differences only
        - e.g., `[1, 1.2, 0.0, 0.3] -> [NaN, 0.2, NaN, 0.3] -> 0.5`
        - Rain gauges occasionally *reset*; negative rainfall amounts are impossible

| gauge-idx | start-datetime-utc | end-datetime-utc | gauge-1h-acc |
| :---: | :---: | :---: | :---: |
| 4 | 2025-03-03-14:00 | 2025-03-03-15:00 | 0.1 |
| 4 | 2025-03-03-14:02 | 2025-03-03-15:02 | 0.2 |
| 4 | ... | ... | ... |
| 4 | 2025-03-03-14:30 | 2025-03-03-15:30 | 0.1 |
| 5 | 2025-03-03-14:30 | 2025-03-03-15:30 | `NaN` |

In [2]:
from glob import glob
from datetime import datetime


# set of sparse datetime points in the rain gauge dataset
T_ccrfcd = set([datetime.fromisoformat(_dt) for _dt in ckpt_one_df["utc_time"]])

# set of all unique datetimes in MRMS dataset
T_mrms = set()

all_mrms_data_dir = "__temp"
all_mrms_grib_files = glob(f"{all_mrms_data_dir}/*.grib2")

for fp in all_mrms_grib_files:
    dt_str = fp.split("_")[-1:][0].split(".")[0]
    dt = datetime.strptime(dt_str, "%Y%m%d-%H%M%S")
    T_mrms.add(dt)

##### 3.1 $\forall_{t \in \mathcal{T}_{MRMS}} \forall_{k \in \mathcal{I}} \exists $ *row in datatable*

From NSSL
> Product Creation
The one-hour QPE – Radar Only product is an aggregation of the Surface Precipitation Rate (SPR) field, which is updated every 2 minutes. The SPR fields from the previous 60 minutes are summed to create the QPE – Radar Only field, with the product ending at the indicated time. For instance, **a QPE – Radar Only field that is valid at 15:04Z is a summation of SPR fields from 14:04Z, 14:06Z, 14:08Z …to 15:04Z**. Values at or below 0.01 inches are removed to reduce the areal coverage of what is most likely false light precipitation.

In [3]:
import numpy as np
from datetime import timedelta


# set of unique rain gauge indicies
I = set(ckpt_one_df['gauge_idx'])

gauge_idxs = []
end_dts = []
start_dts = []


for dt in T_mrms:
    for gauge_idx in I:

        # MRMS 'valid time' is the end of a 1hr window
        end_dts.append(dt)
        
        start_dts.append(dt - timedelta(hours=1))
        gauge_idxs.append(gauge_idx)


dense_aligned_df = pd.DataFrame({
    'gauge_idx': gauge_idxs,
    'start_datetime_utc': start_dts,
    'end_datetime_utc': end_dts,
    'gauge_1h_acc': [np.nan] * len(end_dts)
})


dense_aligned_sorted_df = dense_aligned_df.sort_values(["start_datetime_utc", "gauge_idx"])
dense_aligned_sorted_df

        gauge_idx  start_datetime_utc    end_datetime_utc  gauge_1h_acc
490601        2.0 2021-01-23 23:00:00 2021-01-24 00:00:00           NaN
490621        4.0 2021-01-23 23:00:00 2021-01-24 00:00:00           NaN
490604        5.0 2021-01-23 23:00:00 2021-01-24 00:00:00           NaN
490609        7.0 2021-01-23 23:00:00 2021-01-24 00:00:00           NaN
490607        8.0 2021-01-23 23:00:00 2021-01-24 00:00:00           NaN
...           ...                 ...                 ...           ...
309157     5224.0 2025-08-13 11:46:00 2025-08-13 12:46:00           NaN
309164     5234.0 2025-08-13 11:46:00 2025-08-13 12:46:00           NaN
309174     5244.0 2025-08-13 11:46:00 2025-08-13 12:46:00           NaN
309191     5274.0 2025-08-13 11:46:00 2025-08-13 12:46:00           NaN
309105     5634.0 2025-08-13 11:46:00 2025-08-13 12:46:00           NaN

[532840 rows x 4 columns]

- we have: constructed a table with every unique (rain gauge, MRMS-timestep) combo
- want to: derive the 1hr accum precipitation for every row using the `ckpt_one` table

In [7]:
t1 = pd.to_datetime(pd.Timestamp("2021-08-01 22:26:00"), utc=True)
t2 = pd.to_datetime(pd.Timestamp("2021-08-01 23:26:00"), utc=True)

ckpt_one_df.loc[ckpt_one_df['gauge_idx'] == 4324.][:t1]

Empty DataFrame
Columns: [Unnamed: 0, gauge_idx, local_time, utc_time, gauge_acc_in]
Index: []

In [ ]:
from zoneinfo import ZoneInfo

# we now have a table with blank entries for all unqiue (rain_gauge, MRMS-timestamp) combinations
# how can we look up the 1hr precipitation accumulation values for each of these entries?
# let's work through an example

# how much rain fell on gauge (4) between january and july of 2025?
t1 = datetime(year=2025, month=1, day=1).astimezone(ZoneInfo("UTC"))
t2 = datetime(year=2025, month=7, day=31).astimezone(ZoneInfo("UTC"))

s = ckpt_one_df.copy()
s = s.set_index(pd.to_datetime(ckpt_one_df['utc_time']))

start = pd.to_datetime(t1)
end   = pd.to_datetime(t2)

subset = s.loc[start:end]
subset = subset[subset["gauge_idx"] == 4.0]
subset

,Unnamed: 0,gauge_idx,local_time,utc_time,gauge_acc_in
utc_time,,,,,
2025-01-01 05:48:44+00:00,1118,4.0,2024-12-31 21:48:44-08:00,2025-01-01 05:48:44+00:00,0.35
2025-01-01 09:48:45+00:00,1117,4.0,2025-01-01 01:48:45-08:00,2025-01-01 09:48:45+00:00,0.35
2025-01-01 13:48:44+00:00,1116,4.0,2025-01-01 05:48:44-08:00,2025-01-01 13:48:44+00:00,0.35
2025-01-01 17:48:44+00:00,1115,4.0,2025-01-01 09:48:44-08:00,2025-01-01 17:48:44+00:00,0.35
2025-01-01 21:48:43+00:00,1114,4.0,2025-01-01 13:48:43-08:00,2025-01-01 21:48:43+00:00,0.35
...,...,...,...,...,...
2025-07-22 21:45:39+00:00,4,4.0,2025-07-22 14:45:39-07:00,2025-07-22 21:45:39+00:00,2.09
2025-07-23 01:45:39+00:00,3,4.0,2025-07-22 18:45:39-07:00,2025-07-23 01:45:39+00:00,2.09
2025-07-23 05:45:39+00:00,2,4.0,2025-07-22 22:45:39-07:00,2025-07-23 05:45:39+00:00,2.09
2025-07-23 09:45:39+00:00,1,4.0,2025-07-23 02:45:39-07:00,2025-07-23 09:45:39+00:00,2.09
2025-07-23 13:45:40+00:00,0,4.0,2025-07-23 06:45:40-07:00,2025-07-23 13:45:40+00:00,2.09

In [ ]:
import numpy as np

# this series is already sorted in chronological order (i.e., oldest -> newest)

# in theory this should also be a monotonically increasing series;
# in pratice, gauges reset some what randomly, and ocassionally experience "flickering" (e.g., a run of values like 3.0, 0.0, 3.0, 0.0)
# therefore, we want to calculate the discrete, first-order derivative of this series with a floor of 0.0

# calculate element-wise diff; clip min values @0.0; sum
np.diff(subset["gauge_acc_in"]).clip(0).sum()

np.float64(1.75)

In [ ]:
from tqdm import tqdm


# dataframe we constructed in 1.; contains raw gauge precip. accumulation values
ckpt_one_df = ckpt_one_df.set_index(pd.to_datetime(ckpt_one_df['utc_time']))

gauge_1hr_accums = []

dense_aligned_sorted_df_clone = dense_aligned_sorted_df.copy()

# NOTE: think carefully through this section...
for i, row in tqdm(enumerate(dense_aligned_sorted_df_clone.itertuples()), total=len(dense_aligned_sorted_df_clone)):

    # convert -> pd.Timestamp
    _t1 = pd.to_datetime(row.start_datetime_utc, utc=True)
    _t2 = pd.to_datetime(row.end_datetime_utc, utc=True)

    # limit subset to values for the current row's rain gauge
    gauge_all_df = ckpt_one_df.loc[ckpt_one_df['gauge_idx'] == row.gauge_idx]

    # rows < _t1
    gauge_prev_df = gauge_all_df.loc[:_t1]
    
    if len(gauge_prev_df) > 0:

        # grab subset of rain gauge tips that occured within [_t1, _t2]
        gauge_1hr_df = gauge_all_df.loc[_t1:_t2]

        # at least one bucket tip occured during the 1hr window
        if len(gauge_1hr_df) > 0:
            
            # TODO: verify we are getting the right value
            last_bucket_tip_row = gauge_prev_df[-1: ]

            assert len(last_bucket_tip_row['gauge_acc_in']) == 1

            # t1; last gauge reading prior to time interval
            last_bucket_tip_val = last_bucket_tip_row['gauge_acc_in'].iloc[0]

            # concatinate [t1, ..., t2] gauge readings
            gauge_readings = [last_bucket_tip_val] + list(gauge_1hr_df['gauge_acc_in'])

            print(gauge_readings)

            # TODO:
            # if we have "flickering" values (e.g., [6.4, 0.0, 6.4, 0.0, 6.4])
            # -> diffs: [-6.4, 6.4, -6.4, 6.4]
            # -> clip : [0.0, 6.4, 0.0, 6.4]
            # -> sum. : 12.8 ; when it is likely the gauge actually recieved 0.0 in. of rain
            accumulated_precip = np.diff(gauge_readings).clip(0).sum()

            # set accumulated precip val
            dense_aligned_sorted_df_clone.at[i, 'gauge_1h_acc'] = accumulated_precip

        else:

            # we assume that if no tips occured, and the gauge is recording, then 0.0 in. of rain fell
            dense_aligned_sorted_df_clone.at[i, 'gauge_1h_acc'] = 0.0
    else:
        
        # edge case: no initial value @_t1 to compare tips to
        pass

  0%|          | 0/532840 [00:00<?, ?it/s]

KeyboardInterrupt:

In [ ]:
dense_aligned_sorted_w_accum_df = dense_aligned_sorted_df_clone.copy()
# dense_aligned_sorted_w_accum_df.dropna().to_csv("data/__checkpoints__/ds_ckpt_3.csv")

In [ ]:
_df = dense_aligned_sorted_w_accum_df.dropna().sort_values("gauge_1h_acc")[::-1][0: 50]
_df

        gauge_idx  start_datetime_utc    end_datetime_utc  gauge_1h_acc
158308     4324.0 2021-08-01 22:26:00 2021-08-01 23:26:00          2.21
158528     4324.0 2025-08-13 04:10:00 2025-08-13 05:10:00          2.17
158748     4324.0 2021-08-01 20:58:00 2021-08-01 21:58:00          2.13
158968     4324.0 2021-08-01 17:42:00 2021-08-01 18:42:00          2.05
159188     4324.0 2021-08-01 05:12:00 2021-08-01 06:12:00          1.97
159408     4324.0 2025-07-01 02:18:00 2025-07-01 03:18:00          1.89
159628     4324.0 2025-07-01 04:28:00 2025-07-01 05:28:00          1.81
159848     4324.0 2025-08-13 00:48:00 2025-08-13 01:48:00          1.77
158782     4439.0 2021-08-01 20:58:00 2021-08-01 21:58:00          1.74
159002     4439.0 2021-08-01 17:42:00 2021-08-01 18:42:00          1.74
159442     4439.0 2025-07-01 02:18:00 2025-07-01 03:18:00          1.74
159222     4439.0 2021-08-01 05:12:00 2021-08-01 06:12:00          1.74
160068     4324.0 2025-08-12 03:44:00 2025-08-12 04:44:00          1.73
158562     4439.0 2025-08-13 04:10:00 2025-08-13 05:10:00          1.69
159662     4439.0 2025-07-01 04:28:00 2025-07-01 05:28:00          1.66
159882     4439.0 2025-08-13 00:48:00 2025-08-13 01:48:00          1.66
160288     4324.0 2025-07-01 08:52:00 2025-07-01 09:52:00          1.66
161313     4189.0 2025-06-30 23:32:00 2025-07-01 00:32:00          1.65
159150     4249.0 2021-08-01 05:12:00 2021-08-01 06:12:00          1.62
158930     4249.0 2021-08-01 17:42:00 2021-08-01 18:42:00          1.62
160508     4324.0 2025-08-13 03:52:00 2025-08-13 04:52:00          1.62
160102     4439.0 2025-08-12 03:44:00 2025-08-12 04:44:00          1.62
158914     5244.0 2021-08-01 17:42:00 2021-08-01 18:42:00          1.61
158710     4249.0 2021-08-01 20:58:00 2021-08-01 21:58:00          1.58
160322     4439.0 2025-07-01 08:52:00 2025-07-01 09:52:00          1.58
158342     4439.0 2021-08-01 22:26:00 2021-08-01 23:26:00          1.57
158694     5244.0 2021-08-01 20:58:00 2021-08-01 21:58:00          1.57
159134     5244.0 2021-08-01 05:12:00 2021-08-01 06:12:00          1.57
159370     4249.0 2025-07-01 02:18:00 2025-07-01 03:18:00          1.54
160542     4439.0 2025-08-13 03:52:00 2025-08-13 04:52:00          1.54
159354     5244.0 2025-07-01 02:18:00 2025-07-01 03:18:00          1.53
158254     5244.0 2021-08-01 22:26:00 2021-08-01 23:26:00          1.53
159810     4249.0 2025-08-13 00:48:00 2025-08-13 01:48:00          1.50
160762     4439.0 2021-08-01 01:46:00 2021-08-01 02:46:00          1.50
160030     4249.0 2025-08-12 03:44:00 2025-08-12 04:44:00          1.50
159590     4249.0 2025-07-01 04:28:00 2025-07-01 05:28:00          1.50
160250     4249.0 2025-07-01 08:52:00 2025-07-01 09:52:00          1.50
160728     4324.0 2021-08-01 01:46:00 2021-08-01 02:46:00          1.50
160234     5244.0 2025-07-01 08:52:00 2025-07-01 09:52:00          1.49
160014     5244.0 2025-08-12 03:44:00 2025-08-12 04:44:00          1.49
159794     5244.0 2025-08-13 00:48:00 2025-08-13 01:48:00          1.49
158474     5244.0 2025-08-13 04:10:00 2025-08-13 05:10:00          1.49
159574     5244.0 2025-07-01 04:28:00 2025-07-01 05:28:00          1.49
158490     4249.0 2025-08-13 04:10:00 2025-08-13 05:10:00          1.46
160470     4249.0 2025-08-13 03:52:00 2025-08-13 04:52:00          1.46
160982     4439.0 2021-08-01 10:56:00 2021-08-01 11:56:00          1.46
160690     4249.0 2021-08-01 01:46:00 2021-08-01 02:46:00          1.46
160948     4324.0 2021-08-01 10:56:00 2021-08-01 11:56:00          1.46
160910     4249.0 2021-08-01 10:56:00 2021-08-01 11:56:00          1.42
158270     4249.0 2021-08-01 22:26:00 2021-08-01 23:26:00          1.42